@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "font-family: " Poppins", sans-serif;";
}

body {
    background-color: #EEF2F6;
}

header {
    background-color: #162134;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1 {
    color: #38BDF8;
    font-size: 37px;
    letter-spacing: 1px;
}

header p {
    color: #C2CCDB;
    padding: 10px 0;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #353B4C;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-weight: 600;
}

header nav a:hover {
    background-color: #0284C7;
}

main {
    margin: 50px auto;
    /* background-color: white; */
    max-width: 900px;
}

#About,
#Projects,
#Intro {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#About h2,
#Projects h2,
#Intro h2 {
    border-left: 5px solid #0284C7;
    padding-left: 10px;


}

#About figure {
    text-align: center;
    padding: 20px 0;
}

#About figure img {
    border-radius: 50%;
    border: 4px solid #0284C7;
    margin: 10px 0;
    transition: all 1s;
}
#About figure img:hover {
    transform:scale(1,1);
    box-shadow: 0px 10px rgba(0, 0, 0, 0.101);
}
#About figure figcaption {
    color: #64748B;
    font-style: italic;
    font-style: 14px;
}

#About p {
    border-radius: 16px;
    background: #F8FAFC;

    padding: 20px;
    border: 1px solid #f0f0f1;
    font-size: 18px;
    color: #334155;
}

#project-card {
    display: flex;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}


#project-card article {
    flex: 1;
    background-color: #F8FAFC;
    border-radius: 10px;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
    border: 1px solid #E2E8F0;
    color: #10162a;
    transition: all 0.5s;
}

#project-card article :hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px rgba(0, 0, 0, 0.101);
}

#project-card article p {
    font-size: 14px;
    color: #64748B;
    margin: 15px 0;
}

#project-card article a {
border-radius: 5px;
background-color: #0284C7;
padding: 10px 20px;
display: inline-block;
color: white;
text-decoration: none;
}

#skills {
    background-color: #f1f5f9;
    border-radius: 10px;
    padding: 20px;
}

#skills ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
    flex-wrap: wrap;
}

#skills ul li {
    background-color: #e0f2fe;
    border-radius: 30px;
    border: 1px solid #bae6fd;
    padding: 7px 18px;
    color: #0369a1;
    font-weight: 600;
}
#Intro {
    text-align: center;
}

#Intro h2 {
    text-align: left;
}

#Intro video{
    margin: 20px 0;
    /* padding: 30px; */
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    border: 3px solid #cbd5e1;
}

footer{
    margin: 50px auto;
    max-width: 900px;
    background-color: #141d30;
    padding: 30px 30px 0;
    border-radius: 20px;
    margin-bottom: 30px;
}
footer h2 {
    border-left: 5px solid #0284C7;
    padding-left: 10px;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

footer p {
    color: white;
    padding: 6px 0;
}


footer p a {
    text-decoration: none;
    color: #38BDF8;
    font-size: 20px;
}

footer p a:hover {
    text-decoration: underline;
    color: #38BDF8;
}

form label{
    display: block;
    margin: 7px 0;
    color: #cbd5e1;
    font-weight: 500;
}

form {
    max-width: 80%;
}
form input[type="text"]
form input[type="email"],
textarea{
    width: 100%;
    background-color: #1e283b;
    outline: none;
    border: 1px solid #475569;
    border-radius: 5px;
    padding: 10px 20px;
    color:white;
    margin: 7px 0;
}

form button {
background-color: #0284c7;
border-radius: 5px;
padding: 10px 20px;
display: inline-block;
color: white;
outline: none; 
border: none;
margin: 10px 0;
}

#lower-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid rgba(128, 128, 128, 0.348);
    padding: 20px 0;
    margin-top: 10px;
}